:root {
  --gold: #dec129;
  --grey: #444444;
  --grey-light: #efefef;
}

* {
  padding: 0;
  margin: 0;
  font-family: Cambria;
  box-sizing: border-box;
  color: var(--grey);
}

a {
  text-decoration: none;
  color: var(--grey);
  transition: .4s;
}

a:hover {
  color: var(--gold);
}

ul {
  list-style: none;
}
